@import '@/styles/override';

.lifetimeBanner {
  margin: 0 0 20px;
}

.philosophyContainer {
  margin-bottom: 30px;
}

.seriesaBannerContainer {
  margin: 60px 0px;
}

.scheduleCallContainer {
  margin: 60px 0px 70px;
}
