@import '@/styles/override';

.mainContainer {
  margin-top: 30px;
  padding: 30px 50px;
  padding-right: 30px;
  text-align: start;
}

.oopsHeader {
  color: $gray-dark;
  font-weight: bolder;
}

.doesntExistHeader {
  color: $gray;
  line-height: 30px;
  margin-top: 10px;
}

.errorCodeHeader {
  color: $gray;
}

.listTag {
  margin-top: 5px;
  display: block;
}

@media only screen and (max-width: $grid-breakpoint-md) {
  .listTag {
    border: 1px solid $blue;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;

    &:hover,
    &:active {
      color: $white;
      background-color: $blue;
    }
  }
}
