@import '@/styles/override';

.calendar {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: 1px solid $gray-lighter;
    svg {
      color: $fn-primary-color;
    }
  }
}
