@import '@/styles/override';

.modal {
  max-width: 750px;
}

.modalTitle {
  width: 100%;
  font-size: $basebold;
  color: $black;
  letter-spacing: 0.8px;
  font-weight: 600;
  text-align: center;
}

.bodyContainer {
  width: 75%;
  margin: auto;
  padding: 0;
}
