@import '@/styles/override';

.input {
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 1px 1px $fn-green;
  }
}

.errorMessage {
  color: $orange;
  font-size: 0.75rem;
  border: 1px solid rgba(128, 128, 128, 0.4);
  margin: 0;
}
