@import '@/styles/override';

.tinyMceEditor {
  flex: 0 0 94px;
  padding: 10px 10px 0;
  margin: 0 auto;

  :global {
    .tox.tox-tinymce {
      min-height: 94px;
      height: 100% !important;
      border: none !important;
      border-radius: 0 !important;
      .tox-edit-area {
        iframe {
          border: 1px solid $gray-90;
          border-radius: 8px;
          padding-left: 5px;
        }
      }
    }

    .tox-editor-header {
      border: none !important ;
      width: 100% !important;
      flex-shrink: 0;
      margin-bottom: 0 !important;
    }

    .tox-toolbar__primary {
      background: none !important;
    }

    .tox-toolbar__group {
      padding: 0 !important;
      width: 100%;

      .tox-tbtn {
        width: 34px !important;
        justify-content: flex-start;
      }

      .tox-tbtn[title='Emojis'] {
        justify-content: center !important;

        svg {
          scale: 1.2 !important;
        }
      }

      .tox-tbtn--select:last-of-type {
        cursor: pointer;
        margin-left: auto;
        color: $white;
        min-height: 30px;
        font-size: $font14;
        border-radius: 3px;
        padding: 12px 22px;
        min-width: fit-content;
        background-color: $bg-teal-light;

        &:hover,
        &:active,
        &:focus,
        &:disabled {
          background-color: $bg-teal;
        }
      }
    }
  }
}

.editorContainer {
  max-height: min(40vh, 300px);
}

.attachments {
  display: flex;
  flex-wrap: wrap;
}

.fileButton {
  background-color: $gray-more-light;
  border: none;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  margin: 0 6px 8px 0;
  cursor: pointer;
  border-radius: 12px;
  max-width: 300px;
  font-size: $smallmb;
  gap: 5px;
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: line-through;

    .fileIcon {
      display: none;

      &.remove {
        display: inline;
      }
    }
  }
}

.fileIcon {
  display: inline;
  font-size: $small;

  &.remove {
    display: none;
  }
}

.hideEditor {
  height: 0;
  visibility: hidden;
}

.editorPlaceholder {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $base;
}
