@import '@/styles/override';

.hideArrow :global(.popover-arrow) {
  display: none;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::after {
    content: '';
    margin-left: 6px;
    border-top: 4px dashed currentColor;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  &.show::after {
    transform: rotate(180deg);
  }
}

.backdrop {
  background-color: transparent;
}

.flatTop {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
