@import '@/styles/override';

.CompanyInfo {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h2 {
    font-size: 1rem;
    font-weight: 800;
  }
  h3 {
    font-size: 0.5rem;
    font-weight: 100;
  }
}
.inputRow {
  display: flex;
  width: 100%;
}

.inputSection {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

.inputSelect {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0.75rem 0;
}
