@import '@/styles/override';

.userMenu {
  min-width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
  margin-right: 15px;

  &:hover {
    background: $gray-lightest-special;
    border: none;
    box-sizing: border-box;
    border-left: solid 1px $gray-lighter;
    border-right: solid 1px $gray-lighter;

    :global(.avatarImgContainer) {
      box-shadow: 0 0 0 1px $green;
    }
  }

  @media (max-width: 1024px) {
    margin-right: 0;
  }
}

.userDetails {
  width: 225px;
  background-color: $white;
  border-radius: inherit;
  overflow: hidden;
}
