@import '@/styles/override';

.loginContainer {
  width: 520px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  @media (min-width: $grid-breakpoint-lg) {
    margin: 3% auto 0 auto;
  }
  .pageTitle {
    font-size: $font30;
    margin-top: 10px;
  }
  &.mobileLoginContainer {
    width: 100%;
    height: 100%;
    margin: 5% auto 0 auto;
    padding-top: 20px;
    text-align: center;
    min-height: 465px;
    img {
      margin-top: 30px;
    }
    form {
      width: 90%;
    }
  }
  form {
    margin: 0 auto 0 auto;
    width: 460px;
  }
  .inputContainer {
    margin-bottom: 22px;
    position: relative;
    .labels {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      color: $gray;
    }
  }
  button {
    width: 100%;
    height: 49px;
    border-radius: 3px;
  }
  .forgotPassword {
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
  .errorMessage {
    color: $danger;
    font-weight: 100;
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    margin: 0;
    font-size: $font14;
    height: 40px;
  }
  .successMessage {
    color: $fn-ocean-liner;
    padding: 40px 10px;
    font-size: $font18;
  }
}
