@import '@/styles/override';

.wrapper {
  display: flex;
  align-items: center;
  height: 40px;

  a {
    border: 1px solid $blue;
    border-radius: 3px;
    width: 52px;
    font-size: 21px;
    cursor: pointer;

    &.single {
      border-radius: 3px;
    }
  }

  .info {
    border-radius: 3px 0 0 3px;
    color: $blue;
  }

  .message {
    border-radius: 0 3px 3px 0;
    background-color: $blue;
    color: $white;
  }
}
